[Unit]
Description=Birdbot
After=network-online.target

[Service]
Type=simple
WorkingDirectory=~/birdbot/kurzgesagtbot
ExecStart=/usr/bin/python3 ~/birdbot/kurzgesagtbot/startbot.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
