[Unit]
Description=Birdbot
After=network-online.target

[Service]
Type=simple

WorkingDirectory=/home/sloth/birdbot/kurzgesagtbot
ExecStart=/usr/bin/python3 /home/sloth/birdbot/kurzgesagtbot/startbot.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
