[Unit]
Description=Birdbot
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/kurzgesagt/kurzgesagt_bot
ExecStart=/usr/bin/python3 /opt/kurzgesagt/kurzgesagt_bot/startbot.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
