aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
discord==1.7.3
discord.py==1.7.3
dnspython==2.1.0
docopt==0.6.2
fuzzywuzzy==0.18.0
gitdb==4.0.7
GitPython==3.1.24
idna==3.3
multidict==5.2.0
Pillow==8.3.2
pycodestyle==2.8.0
Pygments==2.10.0
pymongo==3.12.0
python-dotenv==0.19.1
python-Levenshtein==0.12.2
rich==10.11.0
smmap==4.0.0
toml==0.10.2
typing-extensions==3.10.0.2
yarg==0.1.9
yarl==1.6.3
