aiohttp
async-timeout
attrs==21.4.0
autopep8==1.6.0
black==21.12b0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
discord==1.7.3
discord.py==1.7.3
dnspython==2.1.0
docopt==0.6.2
fuzzywuzzy==0.18.0
gitdb==4.0.9
GitPython==3.1.26
idna==3.3
multidict==5.2.0
mypy-extensions==0.4.3
numpy==1.22.0
pathspec==0.9.0
Pillow==9.0.0
platformdirs==2.4.1
pycodestyle==2.8.0
Pygments==2.11.2
pymongo==4.0.1
python-dotenv==0.19.2
python-Levenshtein==0.12.2
rich==11.0.0
requests==2.27.1
smmap==5.0.0
toml==0.10.2
tomli==2.0.0
typing_extensions==4.0.1
urllib3==1.26.8
yarg==0.1.9
yarl==1.7.2
