aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
commonmark==0.9.1
discord.py==1.7.2
python-dotenv==0.17.1
dnspython==1.16.0
hastebin-client==0.1.2
idna==2.10
multidict==4.7.6
pprintpp==0.4.0
Pygments==2.7.4
pymongo==3.10.1
pytz==2020.1
requests==2.25.1
rich==3.0.0
typing==3.7.4.1
typing-extensions==3.7.4.2
urllib3==1.26.5
websockets==8.1
yarl==1.4.2
